In [37]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import nltk
from nltk.stem import WordNetLemmatizer
from pymystem3 import Mystem
from nltk.stem import PorterStemmer
import regex
import json
from tqdm.notebook import tqdm

In [62]:
titles = pd.read_csv('docs_titles.tsv', sep='\t')

In [63]:
titles.head()

   doc_id                                              title
0   15731      ВАЗ 21213 | Замена подшипников ступицы | Нива
1   14829  Ваз 2107 оптом в Сочи. Сравнить цены, купить п...
2   15764  Купить ступица Лада калина2. Трансмиссия - пер...
3   17669                             Классика 21010 - 21074
4   14852     Ступица Нива — замена подшипника своими руками

In [64]:
mystem = Mystem()

In [65]:
def standart(data):
    new_data = regex.sub(r'[^\p{Cyrillic}]+', ' ', data)
    new_data = ' '.join(word for word in mystem.lemmatize(new_data)[:-1] if len(word) > 2)
    new_data = new_data.lower()
    return new_data

In [66]:
titles['clean_title'] = titles['title'].fillna('').apply(standart)

In [67]:
titles.head()

,doc_id,title,clean_title
0,15731,ВАЗ 21213 | Замена подшипников ступицы | Нива,ваз замена подшипник ступица нива
1,14829,"Ваз 2107 оптом в Сочи. Сравнить цены, купить п...",ваз опт сочи сравнивать цена купить потребител...
2,15764,Купить ступица Лада калина2. Трансмиссия - пер...,купить ступица лада калина трансмиссия переход...
3,17669,Классика 21010 - 21074,классика
4,14852,Ступица Нива — замена подшипника своими руками,ступица нива замена подшипник свой рука

In [68]:
titles = titles.drop(['title'], 1)

In [69]:
titles.to_csv('clean_titles.csv', index=False)

# Preparing headers

In [35]:
with open('data/headers_2.json') as f:
    data = json.load(f)

In [36]:
len(data)

28026

In [38]:
data_new = {}
for i in tqdm(data, total=len(data)):
    text = []
    for h in data[i]:
        text += data[i][h]
    text = ' '.join(text)
    data_new[i] = text

HBox(children=(IntProgress(value=0, max=28026), HTML(value='')))

In [40]:
df = pd.DataFrame(data=list(zip(tuple(data_new), tuple(data_new.values()))), columns=['doc_id', 'headers'], index=[i for i in range(len(data_new))])

In [41]:
df.shape

(28026, 2)

In [42]:
df.head()

  doc_id                                            headers
0   8860   метк что нов авторизац сюжет мисс тож дума чт...
1  16368  санитарн эпидемиологическ служб ярославск обла...
2   5895
3  27716   жизн церкв объявлен фот фотогалер виде милосе...
4   5480   как выраст гиацинт открыт грунт  как выраст г...

In [43]:
df.to_csv('headers.tsv', index=False, sep='\t')